@font-face {
    font-family: MogihaPenFont;
    src: url("mogihaPen.ttf");
}

@font-face{
    font-family: acgyosyo;
    src: url("acgyosyo.ttf");
}

@font-face{
    font-family: ackaisyo;
    src: url("ackaisyo.ttf");
}

@font-face{
    font-family: "Noto Serif JP";
    src: url("NotoSerifJP-Regular.otf");
}

@font-face{
    font-family: "Yu Mincho";
    src: url("_yumin.ttf");
}

@font-face{
    font-family: HanaMinA;
    src: url("HanaMinA.ttf");
}

@font-face{
    font-family: MogihaPenFont;
    src: url("mogihaPen.ttf");
}
